* {
    box-sizing: border-box;
    margin: 0;
}

header {
    overflow: hidden;
    display: inline-block;
    min-width: 100%;
    background-color: grey;
    height: 40px;
    vertical-align: center;
}

.filter{
    vertical-align: center;
    margin: 10px;
}

.select-attribute{
    vertical-align: center;
}

.hire-me-button{
    vertical-align: center;
}

.usersDataTable{
    margin: 50px auto;
    border-collapse: collapse;
}

.usersDataTable th, .usersDataTable td{
    border: 1px solid #dddddd;
    padding: 8px;
}
