* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
    background-color: #ecf0f1;
}

header {
    overflow: hidden;
    display: inline-block;
    min-width: 100%;
    background-color: #2ecc71;
    height: 40px;
    vertical-align: center;
}

.headerElements {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.filter{
    border-style: none;
    vertical-align: center;
    padding: 3px 8px;
    margin: 10px;
    border-radius: 5px;
}

.select-attribute{
    padding: 3px;
    border-style: none;
    vertical-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
}

main{
    text-align: center;
}

.tableWrapper{
    display: inline-block;
    margin: 20px auto;
}

.pagination{
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0;
}

.usersDataTable{
    border-collapse: collapse;
    min-width: 960px;
    text-align: center;
}

th, td{
    padding: 8px 25px;
    min-width: 40px;
}

th{
    color: white;
    background-color: #2ecc71;
    font-weight: 1000;
    letter-spacing: 1.5px;
}

th:hover{
    background-color: #27ae60;
    color: #F0FFFF;
}

th:first-child{
    border-radius: 15px 0 0 0;
}

th:last-child{
    border-radius: 0 15px 0 0;
}

tr:nth-child(even){
    background-color: #f3f7eb;
}

tr:nth-child(odd){
    background-color: #e9f2d8;
}

tr:hover{
    background-color: #ebf1c5;
    text-color: #000000;
}

td{
    font-weight: 300;
}

.idHeader {
    width: 8%;
}

.firstNameHeader {
    width: 19%;
}

.lastNameHeader {
    width: 20%;
}

.dateOfBirthHeader {
    width: 25%;
}

.noteHeader {
    width: 12%;
}

.pagination{
    background-color: #2ecc71;
    position: relative;
    height: 30px;
    text-align: center;
}

.pagination a {
    color: #F0FFFF;
    width: 30px;
    vertical-align: center;
    margin: 1px;
    padding: 20px 16px;
    position: relative;
    top: 5px;
}

.pagination a:hover{
    background-color: #27ae60;
    color: #F0FFFF;
}

.pagination .active{
    background-color: #27ae60;
}

.pagination p{
    position: relative;
    color: #F0FFFF;
    top: 5px;
}

th.activeDown, th.activeUp {
    position: relative;
    background-color: #27ae60;
    color: #F0FFFF;
}

.activeDown::after{
    content: "";
    border-top: 10px solid #F0FFFF;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 13px;
    right: 3px;
}

.activeUp::after{
    content: "";
    border-bottom: 10px solid #F0FFFF;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 13px;
    right: 3px;
}
