* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #FBF0DA;
}

header {
    overflow: hidden;
    display: inline-block;
    min-width: 100%;
    background-color: grey;
    height: 40px;
    vertical-align: center;
}

.filter{
    vertical-align: center;
    margin: 10px;
}

.select-attribute{
    vertical-align: center;
}

.hire-me-button{
    vertical-align: center;
}

.tableWrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding-bottom: 1.125em;
    margin-top: 20px;
}

.pagination{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0;
}

.usersDataTable{
    border-collapse: collapse;
    min-width: 600px;
    text-align: center;
}

th, td{
    border: 1px solid #66DA8E;
    padding: 8px;
    min-width: 40px;
}

th{
    background-color: #34B961;
    /*color: #F0FFFF;*/
}

th:hover{
    background-color: #109E4B;
    color: #F0FFFF;
}

.idHeader {
    width: 8%;
}

.firstNameHeader {
    width: 20%;
}

.lastNameHeader {
    width: 20%;
}

.dateOfBirthHeader {
    width: 25%;
}

.noteHeader {
    width: 12%;
}

.pagination{
    background-color: #34B961;
    position: relative;
    height: 30px;
    text-align: center;
}

.pagination a {
    width: 30px;
    vertical-align: center;
    margin: 1px;
    padding: 20px 16px;
    position: relative;
    top: 5px;
}

.pagination a:hover{
    background-color: #109E4B;
    color: #F0FFFF;
}

.pagination .active{
    color: #F0FFFF;
    background-color: #109E4B;
}

.pagination p{
    position: relative;
    top: 5px;
    font-weight: bold;
}

th.activeDown, th.activeUp {
    position: relative;
    background-color: #109E4B;
    color: #F0FFFF;
}

.activeDown::after{
    content: "";
    border-top: 8px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 12px;
    right: 3px;
}

.activeUp::after{
    content: "";
    border-bottom: 8px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 12px;
    right: 3px;
}
